{% extends 'admin/source.html' %} {% load static %} {% block content %}
<!-- store.html -->
<form method="post" enctype="multipart/form-data" style="color: black">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Add Product</button>
</form>

<div class="row">
  {% for product in products %}
  <div class="col-lg-4">
    <img class="thumbnail" src="{{product.imageURL}}" />
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>

      <h6><strong>Quantity: {{ product.quantity }}</strong></h6>
      <hr />
      <span
        ><a
          class="btn btn-danger float-left btn-sm"
          href="{%url 'store:product-delete' product.id%}"
          >Delete</a
        ></span
      >
      <hr />
      <h4 style="display: inline-block; float: right">
        <strong>${{product.price|floatformat:2}}</strong>
      </h4>
      <hr />
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
